svg {
	margin-right: 1em !important;
}

.bordered {
	border: 1px solid #ddd;
	border-radius: 5px;
}

.dropshadow {
	box-shadow: 0 8px 30px #ededed;
}

#loginPanel label {
	text-align: right;
}

.fullheight {
	height: 100vh;
	overflow: hidden;
}

.pointer {
	cursor: pointer;
}

#button_addItem {
	width: 100%;
}

.colorChip {
	height: 1em;
}

.subtitle {
	font-size: smaller;
	color: #ddd;
}

#container_tabs {
	z-index: 100;
	background-color: #fff;
}

.card {
	height: 7em;
}

.colorTray {
	border-bottom: 1px solid #ddd;
}

.icon {
	width: 64px;
	height: 64px;
	
}